<STYLE TYPE="text/css">

dummy {
 font-style: normal;
}

* {
 font-style : normal;
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 9pt;
 font-style: normal; 
 font-weight: normal;
 color: black;
 text-decoration: none;
 background-color : transparent;
}

.Titel {
 font-size: 14pt;
 color: #003399;
 font-weight: bold;
}

.Untertitel {
 font-size: 12pt;
 color: #999999;
 font-weight: bold;
}

.Copyright {
 font-size: 8pt;
 color: #808080;
 text-align : center;
}

TH {
 font-weight: bold;
}

A.submenu 
{
 font-family: Arial,Helvetica,sans-serif; 
 color: #003399; 
 text-decoration: none; 
 font-size: 9pt;
}
A.path 
{
 font-family: Arial,Helvetica,sans-serif; 
 color: #003399;
 text-decoration:none;
 font-size: 9pt;
}
A:link 
{
 font-family: Arial,Helvetica,sans-serif;
 color : #003399;
}
A:visited 
{
 font-family: Arial,Helvetica,sans-serif;
 color : #003399;
}
A:active
{
 font-family: Arial,Helvetica,sans-serif;
 color : #003399;
}
A.aktivessubmenu
{
 font-family: Arial,Helvetica,sans-serif;
 color : #003399;
 text-decoration: none; 
 font-size: 9pt;
 font-weight: bold;
}

</STYLE>