.applayout-main {
	max-width: 1280px;
	margin: 20px auto 0px auto;
	background-color: white;
}
.applayout-banner {
	height:95px;
}
.applayout-utility-links{
	margin-right:20px;
	padding-right:20px;
}
.applayout-titlebar-tabs {
	background-color: rgb(243, 247, 251);
	border-bottom-color: #5A8FB4;
	border-top-color: #5A8FB4;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
}
.applayout-titlebar-name {
	float:none;
	clear:both;
	margin-left: 200px;
	font-size: 1.2em;
}
.applayout-placebar {
	max-width: 1280px;
	margin: 0 auto;
	background-color: white;
}
.applayout-footer {
	width:100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: white;
}
.applayout-legal {
	max-width: 1280px;
	margin: 0 auto;
	background-color: white;
}
.modal-header {
	background-color: #EBEFF3;
}
.container-full {
	max-width: 1280px;
	min-height:700px;
	margin: 0 auto;
	background-color: white;
}

body {
	background-color: rgb(77, 121, 151);
}

.pagination {
	margin-top:0px;
	margin-left:5px;
}